/*
    Gerais
*/

body {
    width: 100%;
    background-color: #D8D8D8;
}

#corpo {
    width: 90%;
    max-width: 700px;
    min-width: 400px;
    margin: 0 auto;
    padding: 10px;
}

a {
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}

a:link, a:visited {
    text-decoration: none;
    color: #ffe6e6;
    border-radius: 10px;
}

a:hover {
    background-color: #DDA0DD;
    color: black;
}

/*
    header
*/

#header {
    height: 50px;
    padding: 10px 0px;
    background-color: #9400D3;
    border-radius: 15px;
}

#header ul li{
    list-style: none;
    display: inline;
}

#header a {
    padding: 3px 10px;
}

#header img {
    width: 32px;
}

/*
    conteudo
*/

#conteudo {
    margin: 20px 0px;
    background-color: white;
    border-radius: 15px;
}


/*
    footer
*/

#footer {
    background-color: white;
    font-size: 1.1em;
    border-radius: 15px;
    font-weight: bold;
}

/*
    Imagens do conteúdo
*/

.col-sm {
    text-align: center;
}

.mais {
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
}

.visual {
    padding: 5px;
    margin: 10px 30px;
    background-color: #D8D8D8;
    border: 2px solid black;
    border-radius: 20px;
}

.menos {
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
}

.botao {
    margin: 20px 0;
    padding: 5px;
    font-size: 1.5em;
    width: 25%;
    height: 50px;
    min-width: 200px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

#comecar {
    background-color: orangered;
}

#pausar {
    background-color: greenyellow;
}

/*
    Comuns
*/

.centralizar {
    text-align: center;
}

hr {
    width: 90%;
    height: 1px;
    background-color: black;
}

h4 {
    margin: 15px 0 10px 0;
}